.svgwhole {
  width: 100%;
  height: 86%;
  display: block;
  margin: 0;
  padding: 0;
  top: 6vh;
  align-items: center;
  position: absolute;
  grid-template-columns: 1;
}
body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}
img {
  width: 150px;
  height: 150px;
}

#svg {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}
.sf {
  font-size: 1.2vh;
  line-height: 1.35;
}
.topinfo {
  font-family: Helvetica, sans-serif;
  width: 100%;
  top: 0px;
  max-height: 6vh;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.5vh;
  padding-bottom: calc(2.125vh - 2.5px);
  box-sizing: border-box;
  left: 0%;
  position: fixed;
  float: left;
  text-align: left;
  overflow: hidden;
  z-index: 30;

  display: flex;
}

.text {
  width: 100vw;
  height: 64.704vw; /* 100/64.704 =1.5455 */
  max-height: 100vh;
  max-width: 154.55vh; /* 71/45.9383 = 1.5455 */
  margin: auto;
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0; /* vertical center */
  left: 0;
  right: 0; /* horizontal center */
  /*background-color: yellow;*/
  opacity: 1;
}
.textwhole {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0vh;
  left: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
}
.squares {
  text-shadow: 1px 1px 3px #73ec16, 1px 1px 3px #73ec16, 1px 1px 3px #73ec16,
    1px 1px 3px #73ec16;
  line-height: 1.1;
  text-align: center;
  display: inline-block;
  position: relative;
  font-family: Helvetica, sans-serif;

  /*z-index:105;*/

  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-height: 1080px) {
  .svgwhole {
    height: 87.44vh;
    top: 8.185vh;
  }
  .text {
    width: 100vw;
    height: 66.041vw; /* 100/66.041 = 1.5142 */
    max-height: 100vh;
    max-width: 151.42vh; /* 71/46.8893 = 1.5142 */
  }
}

@media (max-aspect-ratio: 113 / 80) {
  .svgwhole {
    height: 61.9vw;
  }
  .textwhole {
    height: 70.79vw;
  }

  @media (max-aspect-ratio: 95/80) {
    /*.textwhole{ opacity: 0}*/
  }

  @media (min-aspect-ratio: 144/60) {
    .textwhole {
      display: none;
    }
    .svgwhole {
      display: none;
    }
  }
}
#botinfo {
  position: absolute;
  top: 95.625vh;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  background-color: white;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-aspect-ratio: 113/80) {
  #botinfo {
    top: calc(61.9vw + 6.375vh);
  }
}
@media (min-aspect-ratio: 144/60) {
  #botinfo {
    top: 6.375vh;
  }
}
.full {
  display: none;
}
.small {
  display: none;
}
.smaller {
  display: none;
}
.evensmaller {
  display: none;
}

#bS {
  top: 92%;
  left: 50%;
}
#S {
  top: 8%;
  left: 50%;
}
#bSOne {
  top: 87%;
  left: 93%;
}
#bsTwo {
  top: 87%;
  left: 8%;
}
#S2 {
  top: 13%;
  left: 93%;
}
#S1 {
  top: 13%;
  left: 8%;
}
#s1:after {
  content: "Pro Soccer";
}
#LSideS {
  top: 50%;
  left: 1%;
}
#RSideS {
  top: 50%;
  left: 99%;
}
img {
  display: none;
}
#definition {
  font-size: 1.3vh;
  font-family: Helvetica, sans-serif;
  line-height: 1.2vh;
  padding: 0.3%;
  grid-column: 1;
  max-width: 500px;
  min-width: 250px;
}
#rightterm {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.3vh;
  font-family: Helvetica, sans-serif;
  line-height: 1.2vh;
  padding: 0.3%;
  padding-top: 3vh;
  min-width: 200px;
}
#righthead {
  grid-column: 2;
  font-weight: 400;
  font-size: 1.3vh;
  font-family: Helvetica, sans-serif;
  grid-row: 1;
  padding: 0.3%;
}
#wrapper {
  display: grid;
  grid-template-columns: fit-content(75%) fit-content(25%);
  grid-template-rows: auto;
  height: 100vh;
  width: 100vw;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1000px) and (max-width: 1200px) {
  .full {
    display: block;
    top: 13%;
    left: 8%;
    font-size: 1.2vh;
    line-height: 1.35;
  }
  .pre {
    display: none;
  }
  #ball {
    display: block;
    height: 20%;
    width: auto;
    margin: 0;
    padding: 0;
    top: 41%;
    left: 46%;
    padding-bottom: 6vh;
    position: absolute;
  }
  #LSideS {
    left: 5%;
  }
  #RSideS {
    left: 95%;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .small {
    display: block;
    top: 13%;
    left: 8%;
    font-size: 1.2vh;
    line-height: 1.35;
  }
  .pre {
    display: none;
  }
  #traffic {
    display: block;
    height: 20%;
    width: auto;
    margin: 0;
    padding: 0;
    top: 40%;
    left: 42%;
    padding-bottom: 6vh;
    position: absolute;
  }
  #LSideS {
    left: 5%;
  }
  #RSideS {
    left: 92%;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .smaller {
    display: block;
    top: 13%;
    left: 8%;
    font-size: 1.2vh;
    line-height: 1.35;
  }
  .pre {
    display: none;
  }
  #lighthouse {
    display: block;
    height: 20%;
    width: auto;
    margin: 0;
    padding: 0;
    top: 40%;
    left: 46%;
    padding-bottom: 6vh;
    position: absolute;
  }
  #LSideS {
    left: 5%;
  }
  #RSideS {
    left: 94%;
  }
  #S1 {
    top: 17%;
  }
  #S2 {
    top: 17%;
  }
  #bSOne {
    top: 90%;
  }
  #bsTwo {
    top: 90%;
  }
  #bS {
    top: 95%;
  }
  #S {
    top: 11%;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .evensmaller {
    display: block;
    top: 13%;
    left: 8%;
    font-size: 1.2vh;
    line-height: 1.35;
  }
  .pre {
    display: none;
  }
  #garden {
    display: block;
    height: 20%;
    width: auto;
    margin: 0;
    padding: 0;
    top: 39%;
    left: 40%;
    padding-bottom: 6vh;
    position: absolute;
  }
  #S {
    top: 13%;
    left: 50%;
  }
  #LSideS {
    left: 5%;
    top: 58%;
  }
  #RSideS {
    left: 94%;
    top: 58%;
  }
  #S1 {
    top: 20%;
  }
  #S2 {
    top: 20%;
  }
  #bSOne {
    top: 93%;
  }
  #bsTwo {
    top: 93%;
  }
  #S {
    top: 15%;
  }
  #bS {
    top: 99%;
  }
  #botinfo {
    grid-template-columns: 1fr 1fr;
  }
}
